.homebar {
  position: relative;
  margin: 2%;
  background-color: #20948b;
  height: 8vh;
  width: 90vw;
  box-shadow: -8px 10px 6px -6px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.homebar__content {
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.timestamp {
  padding-right: 2%;
  font-style: oblique;
  color: black;
}
.weather__app__icon {
  display: flex;
  padding-top: 16%;
  padding-left: 25%;
}

#textfield {
  margin-top: 5%;
  width: 15vw;
}
